@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
body{
  background-color:#2292f9;
}
*{
  font-family:'Raleway';
  color:white;
}
header{
  padding-left:30px;
}
.big-header-logo{
  margin-top:20px;
  width:150px;
  height:180px;
  margin:auto;
  display:block;
  margin-top:30px;
}
.page-name {
    margin: 0;
    font-weight:100;
    font-size:80px;
    text-align: center;
}
.nav {
    display: inline;
}
.nav-object {
	font-size: 15px;
    margin: 0.5%;
    margin-top: 1%;
    list-style-type: none;
    display: inline;
    float: right;
    font-family: 'Source Sans Pro ExtraLight', sans-serif;
	font-weight: 100;
}

.ins {
    margin-top: 40%;

}

a {
    color :white;
    text-decoration: none;
}


.container-ui{
  padding:20px;
}
.contain-search-bar{
  width:500px;
  margin:auto;
  margin-top:2vh;

  display:block;
}
#search-bar-label{
  font-weight:100;
  font-size:30px;
  width:100%;
  text-align:center;
}
.search-bar-div{
  margin-top:10px;
  width:500px;
}
.search-bar-itself{
  width:100%;
  height:100%;
  border:1px solid white;
  padding:10px;
  color:black;
}
.search-bar-itself:focus{
  outline:0;
}
.submit-button{
  padding:10px 25px;
  border:1px solid white;
  display: block;
  margin:auto;
  font-size:15px;
  margin-top:15px;
  color:white;
  background-color: #2292f9;
}
.submit-button:hover{
  background-color:white;
  color:#2292f9;
  transition:all ease-in-out 250ms;
}


.contain-translation-results{
  width:70%;
  padding:30px;
  display:block;
  margin:auto;
}
.contain-translation-results > h1{
  color:white;
  font-weight:100;
  font-size:30px;

}
